.App {
  text-align: center;
  border-radius: 30px;
  padding-bottom: 5vh;
}

.brewery-card {
  border: black 2px solid;
  border-radius: 30px;
  width: 25vw;
  height: 14vw;
  max-height: 20vw;
  background-color: #d2b48c;
}

#card-list {
  border-radius: 30px;
  background-color: #09006E;
  row-gap: 1vw;
  column-gap: 1vw;
  padding-left: 1vw;
  padding-top: 1vw;
  padding-bottom: 1vw;

  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  width: 78.5vw;
}

.brewery-card:hover {
 font-weight: bolder;
 background-color: orange;
}

.text-thick {
  font-weight: 700;
  font-size: 2em;
}

.main-header {
  font-size: 3em;
}


/* CSS for Details view */
.detail-container {
z-index:1;
position:fixed;
left: 30vw;
right: 30vw;
top: 20vh;
padding-bottom: 20px;
font-size: 2vh;
color: #d2b48c;
background-color: #09006E;
border-radius: 30px;
border: solid 2px white;
display: flex;
flex-direction: column;
padding-top: 20px;
padding-right: 20px;
}

.detail-chunks {
  display: flex;
  flex-direction: row;
}

#detail-button {
  background-size: cover;
  background:url(./images/clink.png) ;
  width: 100px;
  height: 100px;
}

#details-left {
  padding-left: 1vh;
  padding-right: 1vh;
  width: 50%;

}
#details-right {
flex-grow: 1;
border-radius: 30px;
max-width: 50%;
}

#list-return-button {
  width: 15vh;
  height: 5vh;
  border-radius: 30px;
  font-size: 1em;
  margin-left: 12.5vh;
}

#clink-image {
  width: 3vw;
  height: 3vw;
margin-top: -.5vw; 
margin-bottom: -1vw;
}

#clink-link {
margin-top: 5vh;
}

#card-spacer {
display: flex;
justify-content: space-evenly;
}

#brew-name {
  font-size: 1vw;
}

.address-shortener {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
  line-height: 1em; 
  max-height: 2em; 
  font-size: 2vh;
}

.text-handler {
  font-size: 2vh;
}
